.faq_bg {
	position: relative;
	background-image: url("/assets/images/FAQ-banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: normal;
}
